<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<link href="/static/css/top.css" rel="stylesheet" type="text/css">
    <title>NewsChecker</title>
</head>
<script type="text/javascript" src="../static/js/keydown.js"></script>
<body>
   <h1 class="title">News Checker</h1>
   <h3 class="listTitle">サイト一覧</h3>
   <ul>
   	<li><a href="news_list?name=Gunosy">Gunosy IT・科学</a></li>
   	<li><a href="news_list?name=Vehicle">乗り物ニュース</a></li>
   	<li><a href="news_list?name=Prtimes">Prtimes</a></li>
</body>
</html>