h1 {
	color: #3366CC;
	text-align: center;
	font-size: 50px;
	font-family: Helvetica;
	background:linear-gradient(#CCFFCC,#00FFCC);
	margin: 10px 10px 10px 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

a {
	margin-right: 10px;
	margin-left: 10px;
}
