.title {
	color: #3366CC;
	text-align: center;
	font-size: 50px;
	font-family: Helvetica;
	background:linear-gradient(#CCFFCC,#00FFCC);
}

.listTitle {
	text-align: center;
}

ul {
  list-style: none;
}

.news_name {
	font-size: 20px;
}