<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="/static/css/top.css" type="text/css">
<link rel="stylesheet" href="/static/css/background.css" type="text/css">
    <title>NewsChecker</title>
</head>
<body>
   <h2 class="title">News Checker</h2>
   <h3 class="listTitle">サイト一覧</h3>
   <ul>
   	%for name,news in zip(name_list, news_list):
   	    <li><a href="news_list?name={{ name }}" class="news_name">{{ news }}</a></li>
   	%end    
   </ul>
</body>
</html>